* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: auto;
}

/* navbar section open */

.navbar {
    width: 100%;
    height: 4.5rem;
    background-color: hsl(240, 77%, 19%);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo img {
    width: 11.5rem;
    height: 4.3rem;
    margin-left: 2.3rem;
    cursor: pointer;
}

.nav_list ul {
    display: flex;
    list-style: none;
    margin-right: 3.5rem;
    gap: 2.9rem;

}

.nav_list ul li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;

}

#menu_icon {
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    margin-right: 2.3rem;
    cursor: pointer;
    display: none;
}

/* responsive navbar open */

@media screen and (max-width:450px) {

    .navbar {
        width: 100%;
        height: 4rem;
        background-color: hsl(240, 95%, 15%);
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .logo img {
        width: 9.2rem;
        height: 3.3rem;
        margin-left: 1.2rem;
    }


    .nav_list ul li a {
        display: none;
    }

    #menu_icon {
        display: block;
        margin-right: 1.2rem;
        cursor: pointer;
    }
}

/* responsive navbar close */

/* navbar section close */
/* ...................................................... */

/* hero section open */

/* hero section img open */
.hero_section {
    width: 100%;
    height: 100%;
    position: relative;

}

.hero_section img {

    width: 100%;
    height: calc(100% + 4rem);
    object-fit: cover;
    filter: blur(0.5px) brightness(0.7);
}

/* hero section  img close */

/* responsive hero img open */

@media screen and (max-width:450px) {


    .hero_section {
        width: 100%;
        height: 92vh;
        position: relative;
        overflow: hidden;

    }

    .hero_section img {
        width: 100vh;
        height: 100%;
        object-fit: cover;
        filter: blur(0.5px) brightness(0.7);

    }

}

/* responsive hero img close */


/* hero section content open */


.hero_content {
    position: absolute;
    width: 40rem;
    height: auto;
    top: 12rem;
    margin-left: 7.3rem;

}

.hero_content h1 {

    font-size: 4.5rem;
    color: white;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

.hero_content p {
    font-size: 1.4rem;
    color: white;
    margin-bottom: 2.5rem;
}

.hero_content button {
    width: 8rem;
    height: 2.5rem;
    background-color: hsl(240, 95%, 15%);
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

/* hero section content close */

/* responsive hero content open */

@media screen and (max-width:450px) {

    .hero_content {
        position: absolute;
        width: 20rem;
        height: auto;
        top: 15rem;
        margin-left: 2rem;
    }

    .hero_content h1 {

        font-size: 2rem;
        color: white;
        margin-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 5rem;
    }

    .hero_content p {
        font-size: 0.85rem;
        color: white;
        margin-bottom: 3.3rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .hero_content button {
        width: 20rem;
        height: 2rem;
        background-color: hsl(240, 95%, 15%);
        color: white;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        font-size: 0.9rem;
        margin-left: 0.4rem;


    }
}

/* responsive hero content close */

/* hero section close */
/* ...................................................... */

/* card section open */

.card_section {
    position: absolute;
    top: 60rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 4.5rem;

}

.small-card {
    position: relative;
    width: 15rem;
    height: 16rem;
    border: 1px solid black;
    border: none;
    background-color: white;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    border-radius: 0.6rem;
    cursor: pointer;
    text-align: center;
    padding-top: 1.8rem;
}

.small-card i {
    font-size: 2rem;
    background-color: hsl(240, 100%, 6%);
    padding: 0.9rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: white;
    border-bottom-right-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
    margin-bottom: 0.8rem;

}

.small-card h3 {
    margin-top: 0.8rem;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.small-card p {
    margin-top: 1rem;
    align-items: center;
    text-align: center;
    display: flex;
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 0.85rem;
    color: grey;
}

.small-card::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.7rem;
    bottom: 0;
    left: 0;
    background-color: hsl(240, 100%, 7%);
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
}

/* responsive card section open */

@media screen and (max-width:450px) {


    .card_section {
        position: absolute;
        top: 43rem;

    }

}

/* responsive card section close */

/*  card section close */

/* ...................................................... */

/* about section open */


.about-section {

    width: 100%;
    position: relative;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20rem;
    margin-bottom: 20rem;

}

.about-content {
    width: 45rem;
    margin-left: 10rem;
    margin-top: 5rem;
    transform: scale(1.1);
}


.about-content h3 {
    width: 20.1rem;
    color: hsl(240, 100%, 12%);
    margin-top: 3rem;
    margin-bottom: 2rem;

}

.about-content h2 {

    width: 20rem;
    margin-bottom: 2rem;


}

.about-content p {

    width: 27rem;
    font-size: 1rem;
    color: grey;
    margin-bottom: 1.3rem;

}

.mini-icons {
    display: flex;
    justify-content: space-between;
    gap: 7rem;

}

.icon-text {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    margin-top: 0.2rem;

}

.icon-1 {
    width: 10rem;
    display: flex;
    align-items: center;


}

.icon-1 i {
    border: 1px solid black;
    font-size: 1.3rem;
    padding: 0.9rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #0b0033;
    color: white;
    border-bottom-right-radius: 0.8rem;
    border-top-left-radius: 0.8rem;

}

.icon-1 h2 {
    margin-top: 1.2rem;
    margin-bottom: 0rem;
}

.icon-1 p {

    width: 9rem;
}

.icon-2 {
    width: 10rem;
    display: flex;
    align-items: center;
    margin-right: 20rem;

}


.icon-2 i {
    border: 1px solid black;
    font-size: 1.3rem;
    padding: 0.9rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    background-color: #0b0033;
    color: white;
    border-bottom-right-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
}

.icon-2 h2 {
    margin-top: 1.2rem;
    margin-bottom: 0rem;
}

.icon-2 p {
    width: 9rem;
}

.about-design {
    width: 44rem;
    position: absolute;
    padding-left: 7rem;
    transform: scale(1.3);



}

.filled-hexagon {
    position: absolute;
}

.mini-hexa-1,
.mini-hexa-2,
.mini-hexa-3 {
    width: 3.125rem;
    /* 50px */
    height: 3.125rem;
    /* 50px */
    background-color: #0b0033;
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

.mini-hexa-1 {
    margin-left: 37.5rem;
    /* 600px */
    margin-top: 16.875rem;
    /* 270px */
    position: absolute;
    transform: scale(1.5);
}

.mini-hexa-2 {
    margin-left: 41.25rem;
    /* 660px */
    margin-top: 19.0625rem;
    /* 305px */
    position: absolute;
    transform: scale(1.5);
}

.mini-hexa-3 {
    margin-left: 41.25rem;
    /* 660px */
    margin-top: 14.6875rem;
    /* 235px */
    position: absolute;
    transform: scale(1.5);
}

.main-hexagon {
    width: 14.375rem;
    /* 230px */
    height: 13.125rem;
    /* 210px */
    background-image: url(/images/hexa-1.png);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    position: absolute;
    margin-left: 41.875rem;
    /* 670px */
    margin-top: 3.75rem;
    /* 60px */
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.875rem;
    /* 30px */
    color: #0b0033;
    border-radius: 50%;
    padding-top: 0.5rem;
    /* 8px */
    padding-bottom: 0.3125rem;
    /* 5px */
    padding-left: 1.0625rem;
    /* 17px */
    padding-right: 0.8125rem;
    /* 13px */
    background-color: rgb(226, 221, 221);
    cursor: pointer;
}

.filled-hexagon-after {
    position: absolute;
}

.mini2-hexa-1,
.mini2-hexa-2,
.mini2-hexa-3 {
    width: 3.125rem;
    /* 50px */
    height: 3.125rem;
    /* 50px */
    background-color: #0b0033;
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

.mini2-hexa-1 {
    margin-left: 53.9375rem;
    /* 863px */
    margin-top: 2.8125rem;
    /* 45px */
    position: absolute;
    transform: scale(1.5);
}

.mini2-hexa-2 {
    margin-left: 57.6875rem;
    /* 923px */
    margin-top: 5.0625rem;
    /* 81px */
    position: absolute;
    transform: scale(1.5);
}

.mini2-hexa-3 {
    margin-left: 57.6875rem;
    /* 923px */
    margin-top: 0.625rem;
    /* 10px */
    position: absolute;
    transform: scale(1.5);
}


/* responsive about section open */


@media screen and (max-width:450px) {

    .about-section {
        width: 29rem;
        position: relative;
        height: auto;
        margin-top: 78rem;

    }

    .about-content {
        width: 15rem;
        margin-left: 5rem;
        margin-top: 2rem;
    }

    .about-content h3 {
        width: 15rem;
        color: hsl(240, 100%, 12%);
        align-items: center;
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 1.7rem;

    }

    .about-content h2 {

        width: 15rem;
        font-size: 1.8rem;
        text-align: center;
        margin-bottom: 1.7rem;


    }

    .about-content p {

        width: 15rem;
        text-align: center;
        font-size: 1.2rem;
        color: grey;
        margin-bottom: 1.1rem;

    }

    .mini-icons {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

    }

    .icon-text {
        display: flex;
        flex-direction: column;


    }

    .icon-1 {
        width: 15rem;
        display: flex;



    }

    .icon-1 i {
        border: 1px solid black;
        font-size: 1.3rem;
        padding: 0.9rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: #0b0033;
        color: white;
        border-bottom-right-radius: 0.8rem;
        border-top-left-radius: 0.8rem;
        margin-top: 1rem;

    }

    .icon-1 h2 {
        width: 9rem;
        font-size: 1.5rem;
        margin-bottom: 0rem;
    }

    .icon-1 p {

        width: 9rem;
        font-size: 1rem;



    }

    .icon-2 {
        width: 10rem;
        display: flex;
        align-items: center;


    }


    .icon-2 i {
        border: 1px solid black;
        font-size: 1.3rem;
        padding: 0.9rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        background-color: #0b0033;
        color: white;
        border-bottom-right-radius: 0.8rem;
        border-top-left-radius: 0.8rem;
        margin-top: 1rem;
    }

    .icon-2 h2 {
        width: 9rem;
        font-size: 1.5rem;
        margin-bottom: 0rem;
    }

    .icon-2 p {
        width: 9rem;
        font-size: 1rem;

    }


    .about-design {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        margin-left: 0rem;
        margin-right: 0rem;
        transform: scale(0.5);




    }

    .filled-hexagon {
        position: absolute;
    }

    .mini-hexa-1,
    .mini-hexa-2,
    .mini-hexa-3 {
        width: 3.125rem;
        /* 50px */
        height: 3.125rem;
        /* 50px */
        background-color: #0b0033;
        clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    }

    .mini-hexa-1 {
        margin-left: 37.5rem;
        /* 600px */
        margin-top: 16.875rem;
        /* 270px */
        position: absolute;
        transform: scale(1.5);
    }

    .mini-hexa-2 {
        margin-left: 41.25rem;
        /* 660px */
        margin-top: 19.0625rem;
        /* 305px */
        position: absolute;
        transform: scale(1.5);
    }

    .mini-hexa-3 {
        margin-left: 41.25rem;
        /* 660px */
        margin-top: 14.6875rem;
        /* 235px */
        position: absolute;
        transform: scale(1.5);
    }

    .main-hexagon {
        width: 14.375rem;
        /* 230px */
        height: 13.125rem;
        /* 210px */
        background-image: url(/images/hexa-1.png);
        object-fit: cover;
        background-size: cover;
        background-position: center;
        clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
        position: absolute;
        margin-left: 41.875rem;
        /* 670px */
        margin-top: 3.75rem;
        /* 60px */
    }

    .play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.875rem;
        /* 30px */
        color: #0b0033;
        border-radius: 50%;
        padding-top: 0.5rem;
        /* 8px */
        padding-bottom: 0.3125rem;
        /* 5px */
        padding-left: 1.0625rem;
        /* 17px */
        padding-right: 0.8125rem;
        /* 13px */
        background-color: rgb(226, 221, 221);
        cursor: pointer;
    }

    .filled-hexagon-after {
        position: absolute;
    }

    .mini2-hexa-1,
    .mini2-hexa-2,
    .mini2-hexa-3 {
        width: 3.125rem;
        /* 50px */
        height: 3.125rem;
        /* 50px */
        background-color: #0b0033;
        clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    }

    .mini2-hexa-1 {
        margin-left: 53.9375rem;
        /* 863px */
        margin-top: 2.8125rem;
        /* 45px */
        position: absolute;
        transform: scale(1.5);
    }

    .mini2-hexa-2 {
        margin-left: 57.6875rem;
        /* 923px */
        margin-top: 5.0625rem;
        /* 81px */
        position: absolute;
        transform: scale(1.5);
    }

    .mini2-hexa-3 {
        margin-left: 57.6875rem;
        /* 923px */
        margin-top: 0.625rem;
        /* 10px */
        position: absolute;
        transform: scale(1.5);
    }



}


/* about section close */


/* ...................................................... */

/* service section open */


.service-section {
    width: 100%;
    padding-top: 3rem;
    position: relative;
    background-color: rgb(226, 226, 226);
    height: 30rem;
    margin-bottom: 9rem;
    display: flex;
    justify-content: space-between;

}

.service-content {

    padding-top: 4rem;
    padding-left: 9rem;
    padding-right: 9rem;
    width: 35rem;
}


.service-content h3 {

    font-size: 1.6rem;
    margin-bottom: 2rem;
    color: hsl(240, 100%, 12%);


}

.service-content h2 {

    width: 17rem;
    margin-bottom: 2rem;
    font-size: 2rem;

}

.service-content p {
    width: 25rem;

    color: hsl(240, 100%, 12%);
    font-size: 1.2rem;
    margin-bottom: 10px;

    line-height: 1.3;
}

.service-content button {
    margin-top: 1.2rem;

    border: 1px solid black;
    padding: 0.5rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    background-color: #0b0033;
    color: white;
    font-weight: bold;
    cursor: pointer;


}

.service-cards {
    width: 61rem;
    /* 983px */
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-right: 5rem;
    /* 100px */
}

.s-card {
    margin: 0.9375rem;
    /* 15px */
    width: 15rem;
    /* 250px */
    height: 20rem;
    /* 310px */
    border: 0.0625rem solid black;
    /* 1px */
    border-radius: 0.5rem;
    /* 8px */
    color: white;
    background-color: #0b0033;
    cursor: pointer;
}

.s-card i {
    margin-top: 3.75rem;
    /* 60px */
    font-size: 2.5rem;
    /* 40px */
    margin-bottom: 3.125rem;
    /* 50px */
}

.s-card h3 {
    font-size: 1.3rem;
    /* 18px */
    font-weight: bold;
    margin-bottom: 3rem;
    /* 15px */
}

.s-card p {
    font-size: 0.875rem;
    /* 14px */
    margin-bottom: 1.25rem;
    /* 20px */
    padding-left: 1.7rem;
    padding-right: 1.7rem;
}

/* responsive service section */

@media screen and (max-width: 450px) {


    .service-section {
        width: 100%;
        padding-top: 2rem;
        position: relative;
        background-color: rgb(226, 226, 226);
        height: auto;
        margin-bottom: 6rem;
        display: flex;
        flex-wrap: wrap;

    }

    .service-content {

        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        width: 100%;
        text-align: center;
    }


    .service-content h3 {

        font-size: 1.7rem;
        margin-bottom: 2rem;
        color: hsl(240, 100%, 12%);


    }

    .service-content h2 {

        width: 100%;
        margin-bottom: 2rem;
        font-size: 2.4rem;
        padding-left: 1rem;
        padding-right: 1rem;

    }

    .service-content p {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        color: hsl(240, 100%, 12%);
        font-size: 1.1rem;
        margin-bottom: 10px;
        line-height: 1.3;
    }


    .service-content button {
        margin-top: 3rem;
        margin-bottom: 5rem;

        border: 1px solid black;
        padding: 0.5rem;
        padding-left: 7.5rem;
        padding-right: 7.5rem;
        font-size: 0.9rem;
        border-radius: 0.5rem;
        background-color: #0b0033;
        color: white;
        font-weight: bold;
        cursor: pointer;


    }

    .service-cards {
        width: 100%;
        /* 983px */
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        align-items: center;
        margin-left: 4rem;
        gap: 1.5rem;
        justify-content: center;
        margin-right: 4rem;
        margin-bottom: 5rem;
        /* 100px */

    }


    .s-card {

        /* 15px */
        width: 14rem;
        /* 250px */
        height: 17rem;
        /* 310px */
        border: 0.0625rem solid black;
        /* 1px */
        border-radius: 0.5rem;
        /* 8px */
        color: white;
        background-color: #0b0033;
        cursor: pointer;
    }

    .s-card i {
        margin-top: 3.75rem;
        /* 60px */
        font-size: 2rem;
        /* 40px */
        margin-bottom: 2.125rem;
        /* 50px */
    }

    .s-card h3 {
        font-size: 1.1rem;
        /* 18px */
        font-weight: bold;
        margin-bottom: 2rem;
        /* 15px */
    }

    .s-card p {
        font-size: 0.8rem;
        /* 14px */
        margin-bottom: 1.25rem;
        /* 20px */
        padding-left: 1.8rem;
        padding-right: 1.8rem;
    }




}

/* responsive service close */

/* service section close */


/* we section open */

.we-section {
    display: flex;
    width: 100%;
    margin-bottom: 6.25rem;
    /* 100px */
}

.we-design {
    width: 45.81rem;
    /* 733px */
    margin-left: 15.625rem;
    /* 250px */
    margin-top: 3.125rem;
    /* 50px */
    transform: scale(1.3);
}

.filled-hexagon-2-up {
    position: absolute;
}

.mini-2nd-hexa-1,
.mini-2nd-hexa-2,
.mini-2nd-hexa-3 {
    width: 3.125rem;
    /* 50px */
    height: 3.125rem;
    background-color: #0b0033;
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

.mini-2nd-hexa-1 {
    margin-left: px;
    margin-top: 4.375rem;
    /* 70px */
    position: absolute;
    transform: scale(1.5);
}

.mini-2nd-hexa-2 {
    margin-left: px;
    margin-top: px;
    position: absolute;
    transform: scale(1.5);
}

.mini-2nd-hexa-3 {
    margin-left: 3.75rem;
    /* 60px */
    margin-top: 2.1875rem;
    /* 35px */
    position: absolute;
    transform: scale(1.5);
}

.filled-hexagon-2-down {
    position: absolute;
    margin-top: 16.625rem;
    /* 266px */
}

.Mini-2nd-hexa-1,
.Mini-2nd-hexa-2,
.Mini-2nd-hexa-3 {
    width: 3.125rem;
    height: 3.125rem;
    background-color: #0b0033;
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

.Mini-2nd-hexa-1 {
    margin-left: px;
    margin-top: 4.375rem;
    position: absolute;
    transform: scale(1.5);
}

.Mini-2nd-hexa-2 {
    margin-left: px;
    margin-top: px;
    position: absolute;
    transform: scale(1.5);
}

.Mini-2nd-hexa-3 {
    margin-left: 3.75rem;
    margin-top: 2.1875rem;
    position: absolute;
    transform: scale(1.5);
}

.main-hexagon-2 {
    width: 14.375rem;
    /* 230px */
    height: 13.125rem;
    /* 210px */
    background-image: url(/images/hexa-2.jpg);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    position: absolute;
    margin-left: 0.625rem;
    /* 10px */
    margin-top: 5.5rem;
    /* 88px */
}

.filled-hexagon-2-after {
    position: absolute;
}

.mini2-2nd-hexa-1,
.mini2-2nd-hexa-2,
.mini2-2nd-hexa-3 {
    width: 3.125rem;
    height: 3.125rem;
    background-color: #0b0033;
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

.mini2-2nd-hexa-1 {
    margin-left: 14.8125rem;
    /* 237px */
    margin-top: 8.25rem;
    /* 132px */
    position: absolute;
    transform: scale(1.5);
}

.mini2-2nd-hexa-2 {
    margin-left: 14.8125rem;
    margin-top: 12.625rem;
    /* 202px */
    position: absolute;
    transform: scale(1.5);
}

.mini2-2nd-hexa-3 {
    margin-left: 18.4375rem;
    /* 295px */
    margin-top: 10.4375rem;
    /* 167px */
    position: absolute;
    transform: scale(1.5);
}

.we-content {
    width: 47.4375rem;
    /* 759px */
    margin-right: 9.375rem;
    /* 150px */
}

.we-content h3 {
    font-size: 1.5rem;
    /* 20px */
    color: hsl(240, 100%, 12%);
    margin-bottom: 1.25rem;
    /* 20px */
}

.we-content h2 {
    font-size: 2rem;
    width: 19.75rem;
    /* 300px */
    margin-bottom: 1.25rem;
}

.we-content p {
    font-size: 1.1rem;
    /* 17px */
    color: grey;
    margin-bottom: 1.25rem;
    line-height: 1.5;
}

.we-scale label {
    color: #0b0033;
    font-size: 0.9125rem;
    /* 13px */
}

.we-scale input {
    width: 100%;
    height: 0.925rem;
    /* 10px */
    margin-bottom: 1.25rem;
    cursor: pointer;
}

/* responsive we open */

@media screen and (max-width: 450px) {

    .we-section {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 20rem;
        width: 100%;
        margin-bottom: 6.25rem;
        /* 100px */
    }


    .we-design {
        width: 100%;
        /* 733px */
        margin-left: 2.8rem;
        /* 250px */
        margin-top: 0rem;
        /* 50px */
        transform: scale(0.7);
        display: flex;

    }

    .filled-hexagon-2-up {
        position: absolute;
    }

    .mini-2nd-hexa-1,
    .mini-2nd-hexa-2,
    .mini-2nd-hexa-3 {
        width: 3.125rem;
        /* 50px */
        height: 3.125rem;
        background-color: #0b0033;
        clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    }

    .mini-2nd-hexa-1 {
        margin-left: px;
        margin-top: 4.375rem;
        /* 70px */
        position: absolute;
        transform: scale(1.5);
    }

    .mini-2nd-hexa-2 {
        margin-left: px;
        margin-top: px;
        position: absolute;
        transform: scale(1.5);
    }

    .mini-2nd-hexa-3 {
        margin-left: 3.75rem;
        /* 60px */
        margin-top: 2.1875rem;
        /* 35px */
        position: absolute;
        transform: scale(1.5);
    }

    .filled-hexagon-2-down {
        position: absolute;
        margin-top: 16.625rem;
        /* 266px */
    }

    .Mini-2nd-hexa-1,
    .Mini-2nd-hexa-2,
    .Mini-2nd-hexa-3 {
        width: 3.125rem;
        height: 3.125rem;
        background-color: #0b0033;
        clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    }

    .Mini-2nd-hexa-1 {
        margin-left: px;
        margin-top: 4.375rem;
        position: absolute;
        transform: scale(1.5);
    }

    .Mini-2nd-hexa-2 {
        margin-left: px;
        margin-top: px;
        position: absolute;
        transform: scale(1.5);
    }

    .Mini-2nd-hexa-3 {
        margin-left: 3.75rem;
        margin-top: 2.1875rem;
        position: absolute;
        transform: scale(1.5);
    }

    .main-hexagon-2 {
        width: 14.375rem;
        /* 230px */
        height: 13.125rem;
        /* 210px */
        background-image: url(/images/hexa-2.jpg);
        object-fit: cover;
        background-size: cover;
        background-position: center;
        clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
        position: absolute;
        margin-left: 0.625rem;
        /* 10px */
        margin-top: 5.5rem;
        /* 88px */
    }

    .filled-hexagon-2-after {
        position: absolute;
    }

    .mini2-2nd-hexa-1,
    .mini2-2nd-hexa-2,
    .mini2-2nd-hexa-3 {
        width: 3.125rem;
        height: 3.125rem;
        background-color: #0b0033;
        clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    }

    .mini2-2nd-hexa-1 {
        margin-left: 14.8125rem;
        /* 237px */
        margin-top: 8.25rem;
        /* 132px */
        position: absolute;
        transform: scale(1.5);
    }

    .mini2-2nd-hexa-2 {
        margin-left: 14.8125rem;
        margin-top: 12.625rem;
        /* 202px */
        position: absolute;
        transform: scale(1.5);
    }

    .mini2-2nd-hexa-3 {
        margin-left: 18.4375rem;
        /* 295px */
        margin-top: 10.4375rem;
        /* 167px */
        position: absolute;
        transform: scale(1.5);
    }


    .we-content {
        width: 100%;
        align-items: center;
        text-align: center;
        margin-top: 3rem;
        margin-right: 0rem;
        /* 150px */

    }

    .we-content h3 {
        font-size: 1.9rem;
        /* 20px */
        color: hsl(240, 100%, 12%);
        margin-bottom: 3rem;
        /* 20px */
    }

    .we-content h2 {
        font-size: 2.3rem;
        width: 100%;
        /* 300px */
        padding-left: 1.25rem;
        /* 20px */
        padding-right: 1.25rem;
        /* 20px */
        margin-bottom: 4rem;
    }

    .we-content p {
        font-size: 1.2rem;
        /* 17px */
        padding-left: 2rem;
        /* 20px */
        padding-right: 2rem;
        color: grey;
        margin-bottom: 1.25rem;
        line-height: 1.3;
        margin-bottom: 5rem;

    }

    .we-scale label {
        color: #0b0033;
        font-size: 1.225rem;
        /* 13px */
    }

    .we-scale input {
        width: 70%;
        height: 0.925rem;
        /* 10px */
        margin-bottom: 1.25rem;
        cursor: pointer;
    }


}

/* responsive we close */

/* we section close */

/* ...................................................... */

/* director section open */



.director-section {
    width: 100%;
    margin-top: 3.125rem;
    /* 50px */
    height: 31.25rem;
    /* 500px */
    background-color: rgb(226, 226, 226);
    display: flex;
    padding-bottom: 6.25rem;
    /* 100px */
}

.director-content {
    width: 30.5625rem;
    /* 489px */
    margin-left: 11.875rem;
    /* 190px */
    margin-top: 9.375rem;
    /* 150px */
    transform: scale(1.1);
}

.director-content h3 {
    color: hsl(240, 100%, 12%);
    margin-bottom: 1.25rem;
    /* 20px */
    font-size: 1.25rem;
    /* 20px */
}

.director-content h2 {
    width: 10.625rem;
    /* 170px */
    margin-bottom: 1.25rem;
    font-size: 1.6875rem;
    /* 27px */
    font-weight: bold;
}

.director-content p {
    width: 21.875rem;
    /* 350px */
    font-size: 1.0625rem;
    /* 17px */
    color: #0b0033;
    margin-bottom: 1.25rem;
    line-height: 1.5;
}

.director-design {
    position: relative;
    width: 45.9375rem;
    /* 735px */
    margin-top: 1.875rem;
    /* 30px */
    margin-left: 1.875rem;
    transform: scale(0.9);
}

.filled-hexagon-director {
    margin-left: 0.3125rem;
    /* 5px */
    position: absolute;
    z-index: 1;
}

.dir-hexa-1,
.dir-hexa-2,
.dir-hexa-3 {
    width: 3.125rem;
    /* 50px */
    height: 3.125rem;
    background-color: #0b0033;
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

.dir-hexa-1 {
    margin-left: 13.4375rem;
    /* 215px */
    margin-top: 5.3125rem;
    /* 85px */
    position: absolute;
    transform: scale(1.5);
}

.dir-hexa-2 {
    margin-left: 13.4375rem;
    margin-top: 0.9375rem;
    /* 15px */
    position: absolute;
    transform: scale(1.5);
}

.dir-hexa-3 {
    margin-left: 9.6875rem;
    /* 155px */
    margin-top: 3.0625rem;
    /* 49px */
    position: absolute;
    transform: scale(1.5);
}

.main-hexagon-director {
    width: 11.25rem;
    /* 180px */
    height: 10rem;
    /* 160px */
    background-image: url(/images/hexa-3.jpg);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    position: absolute;
    margin-left: 0.3125rem;
    /* 5px */
    margin-top: 4.1875rem;
    /* 67px */
    z-index: 1;
}

.filled-hexagon-director-after {
    position: absolute;
    z-index: 1;
    margin-left: 0.1875rem;
    /* 3px */
}

.dir2-hexa-1,
.dir2-hexa-2,
.dir2-hexa-3 {
    width: 3.125rem;
    height: 3.125rem;
    background-color: #0b0033;
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

.dir2-hexa-1 {
    margin-left: 9.5625rem;
    /* 153px */
    margin-top: 16.6875rem;
    /* 267px */
    position: absolute;
    transform: scale(1.5);
}

.dir2-hexa-2 {
    margin-left: 5.75rem;
    /* 92px */
    margin-top: 14.5rem;
    /* 232px */
    position: absolute;
    transform: scale(1.5);
}

.dir2-hexa-3 {
    margin-left: 9.5625rem;
    margin-top: 12.3125rem;
    /* 197px */
    position: absolute;
    transform: scale(1.5);
}

.main-card {
    margin-top: 3.125rem;
    /* 50px */
    margin-left: 6.25rem;
    /* 100px */
    padding-top: 3.125rem;
}

.card-back {
    position: absolute;
    top: 6.875rem;
    /* 110px */
    left: 7.1875rem;
    /* 115px */
    width: 31.875rem;
    /* 510px */
    height: 20rem;
    /* 320px */
    background-color: #0b0033;
    border-radius: 0.625rem;
    /* 10px */
    margin-left: 3.125rem;
    /* 50px */
}

.card-front {
    width: 31.25rem;
    /* 500px */
    height: 19.375rem;
    /* 310px */
    position: relative;
    background-color: white;
    border-radius: 0.625rem;
    padding: 1.875rem 1.5625rem 2.5rem;
    /* 30px 25px 40px */
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.08);
    /* 0 4px 12px */
    text-align: center;
    margin-left: 3.125rem;
}

.card-front p {
    font-size: 1rem;
    /* 16px */
    font-weight: bold;
    font-style: italic;
    color: #0b0033;
    line-height: 1.5;
    padding-left: 1.875rem;
    /* 30px */
}

.card-front span {
    margin-left: 1.875rem;
    /* 30px */
    font-size: 3.75rem;
    /* 60px */
    font-weight: bold;
    color: #0b0033;
}

.card-front h3 {
    font-size: 1.5625rem;
    /* 25px */
    color: black;
    margin-left: 12.5rem;
    /* 200px */
    font-weight: bold;
    margin-top: 2.1875rem;
    /* 35px */
}

.card-front h5 {
    font-size: 0.9375rem;
    /* 15px */
    color: grey;
    margin-left: 16.875rem;
    /* 270px */
    margin-top: 0.1875rem;
    /* 3px */
}


/* responsive director open */

@media screen and (max-width:450px) {

    .director-section {
        width: 100%;
        margin-top: 3.125rem;
        /* 50px */
        height: auto;
        /* 500px */
        background-color: rgb(226, 226, 226);
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 3.25rem;
        /* 100px */
    }

    .director-content {
        width: 100%;
        /* 489px */
        margin-left: 2rem;
        /* 190px */
        margin-top: 6.375rem;
        text-align: center;
        align-items: center;
    }

    .director-content h3 {
        color: hsl(240, 100%, 12%);
        margin-bottom: 2.25rem;
        /* 20px */
        font-size: 1.75rem;
        /* 20px */
    }

    .director-content h2 {
        width: 100%;
        /* 170px */
        margin-bottom: 3.25rem;
        font-size: 2.1875rem;
        padding-left: 1.82rem;
        padding-right: 2.5rem;
        font-weight: bold;
    }

    .director-content p {
        width: 100%;
        /* 350px */
        font-size: 1.0625rem;
        /* 17px */
        color: #0b0033;
        margin-bottom: 1.25rem;
        line-height: 1.3;
        margin-left: 0%;
        margin-right: 1rem;
        padding-left: 1.52rem;
        padding-right: 2.52rem;
    }


    .director-design {
        position: relative;
        width: 100%;
        transform: scale(0.5);
        margin-left: 3rem;
        margin-top: -2.5rem;
        /* 30px */
    }

    .filled-hexagon-director {
        margin-left: -3.25rem;
        /* adjusted from 0.3125rem */
        position: absolute;
        z-index: 1;
    }

    .dir-hexa-1,
    .dir-hexa-2,
    .dir-hexa-3 {
        width: 3.125rem;
        height: 3.125rem;
        background-color: #0b0033;
        clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    }

    .dir-hexa-1 {
        margin-left: 3.4375rem;
        /* reduced from 13.4375rem */
        margin-top: 5.3125rem;
        position: absolute;
        transform: scale(1.5);
    }

    .dir-hexa-2 {
        margin-left: 3.4375rem;
        margin-top: 0.9375rem;
        position: absolute;
        transform: scale(1.5);
    }

    .dir-hexa-3 {
        margin-left: -0.3125rem;
        /* reduced from 9.6875rem */
        margin-top: 3.0625rem;
        position: absolute;
        transform: scale(1.5);
    }

    .main-hexagon-director {
        width: 11.25rem;
        height: 10rem;
        background-image: url(/images/hexa-3.jpg);
        object-fit: cover;
        background-size: cover;
        background-position: center;
        clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
        position: absolute;
        margin-left: -13.25rem;
        /* adjusted from 0.3125rem */
        margin-top: 4.1875rem;
        z-index: 1;
    }

    .filled-hexagon-director-after {
        position: absolute;
        z-index: 1;
        margin-left: -6.9625rem;
        margin-top: 2.1rem;
        /* adjusted from 0.1875rem */
    }

    .dir2-hexa-1,
    .dir2-hexa-2,
    .dir2-hexa-3 {
        width: 3.125rem;
        height: 3.125rem;
        background-color: #0b0033;
        clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    }

    .dir2-hexa-1 {
        margin-left: -0.4375rem;
        /* reduced from 9.5625rem */
        margin-top: 16.6875rem;
        position: absolute;
        transform: scale(1.5);
    }

    .dir2-hexa-2 {
        margin-left: -4.25rem;
        /* reduced from 5.75rem */
        margin-top: 14.5rem;
        position: absolute;
        transform: scale(1.5);
    }

    .dir2-hexa-3 {
        margin-left: -0.4375rem;
        /* reduced from 9.5625rem */
        margin-top: 12.3125rem;
        position: absolute;
        transform: scale(1.5);
    }

    .main-card {
        margin-top: 3.125rem;
        margin-left: -3.75rem;
        /* reduced from 6.25rem */
        padding-top: 3.125rem;
    }

    .card-back {
        position: absolute;
        top: 6.875rem;
        left: -2.3125rem;
        /* reduced from 7.1875rem */
        width: 31.875rem;
        height: 20rem;
        background-color: #0b0033;
        border-radius: 0.625rem;
        margin-left: -3.975rem;
        /* reduced from 3.125rem */
    }

    .card-front {
        width: 31.25rem;
        height: 19.375rem;
        position: relative;
        background-color: white;
        border-radius: 0.625rem;
        padding: 1.875rem 1.5625rem 2.5rem;
        box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.08);
        text-align: center;
        margin-left: -3.975rem;
        /* reduced from 3.125rem */
    }

    .card-front p {
        font-size: 1rem;
        font-weight: bold;
        font-style: italic;
        color: #0b0033;
        line-height: 1.5;
        padding-left: 1.875rem;
    }

    .card-front span {
        margin-left: 1.875rem;
        font-size: 3.75rem;
        font-weight: bold;
        color: #0b0033;
    }

    .card-front h3 {
        font-size: 1.5625rem;
        color: black;
        margin-left: 6.25rem;
        /* reduced from 12.5rem */
        font-weight: bold;
        margin-top: 2.1875rem;
    }

    .card-front h5 {
        font-size: 0.9375rem;
        color: grey;
        margin-left: 10.875rem;
        /* reduced from 16.875rem */
        margin-top: 0.1875rem;
    }


}



/* responsive director close */


/* director section close */

/* team section open */


.team-section {
    width: 100%;
    display: flex;
    height: 31.25rem;
    /* 500px */
    position: absolute;
}

.team-content {
    width: 36.8125rem;
    /* 589px */
    margin-left: 12.5rem;
    /* 200px */
    margin-top: 9.375rem;
    /* 150px */
}

.team-content h3 {
    color: hsl(240, 100%, 12%);
    margin-bottom: 1.25rem;
    /* 20px */
    font-size: 1.75rem;
    /* 20px */
}

.team-content h2 {
    width: 21.875rem;
    /* 350px */
    margin-bottom: 1.25rem;
    font-size: 2.0875rem;
    /* 27px */
    font-weight: bold;
}

.team-content p {
    width: 21.875rem;
    /* 350px */
    font-size: 1.1375rem;
    /* 15px */
    color: grey;
    margin-bottom: 1.25rem;
    line-height: 1.3;
}

.team-content button {
    margin-top: 1.25rem;
    /* 20px */
    border: 1px solid black;
    padding: 0.5rem;
    /* 8px */
    font-size: 1.0625rem;
    /* 17px */
    border-radius: 0.375rem;
    /* 6px */
    background-color: #0b0033;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.team-design {
    width: 54.9375rem;
    /* 879px */
    margin-left: 6.25rem;
    /* 100px */
    margin-bottom: 6.25rem;
    /* 100px */
}

.team-hexagon-1,
.team-hexagon-2,
.team-hexagon-3,
.team-hexagon-4 {
    width: 13.125rem;
    /* 210px */
    height: 11.875rem;
    /* 190px */
    background-image: url(/images/team-1.png);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    position: absolute;
    margin-top: 3.75rem;
    /* 60px */
}

.team-hexagon-2 {
    background-image: url(/images/team-4.png);
    margin-left: 10.4375rem;
    /* 167px */
    margin-top: 9.5625rem;
    /* 153px */
}

.team-hexagon-3 {
    background-image: url(/images/team-3.png);
    margin-top: 15.3125rem;
    /* 245px */
}

.team-hexagon-4 {
    margin-left: 10.5625rem;
    /* 169px */
    margin-top: 20.8125rem;
    /* 333px */
    background-image: url(/images/team-2.png);
}

/* responsive team open */



@media screen and (max-width:450px) {

    .team-section {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        /* 500px */
        position: absolute;
        margin-bottom: 4rem;

    }

    .team-content {
        width: 100%;
        margin-top: 9.375rem;
        align-items: center;
        text-align: center;
        margin-left: 0rem;
    }

    .team-content h3 {
        color: hsl(240, 100%, 12%);
        margin-bottom: 1.25rem;
        /* 20px */
        font-size: 2rem;
        /* 20px */
    }

    .team-content h2 {
        width: 100%;
        /* 350px */
        margin-bottom: 3.25rem;
        font-size: 2.5875rem;
        /* 27px */
        font-weight: bold;
    }

    .team-content p {
        width: 100%;
        /* 350px */
        font-size: 1.2375rem;
        /* 15px */
        color: grey;
        margin-bottom: 1.25rem;
        line-height: 1.3;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .team-content button {
        margin-top: 4.25rem;
        /* 20px */
        border: 1px solid black;
        padding: 0.5rem;
        padding-left: 7.5rem;
        padding-right: 7.5rem;
        font-size: 0.96rem;
        border-radius: 0.475rem;
        /* 6px */
        background-color: #0b0033;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }

    
.team-design {
    width: 100%;
    margin-left: 0rem;
    margin-bottom: 4.25rem;
   transform: scale(0.8);
   align-items: center;
}

.team-hexagon-1,
.team-hexagon-2,
.team-hexagon-3,
.team-hexagon-4 {
    width: 13.125rem;
    /* 210px */
    height: 11.875rem;
    /* 190px */
    background-image: url(/images/team-1.png);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    position: absolute;
    margin-top: 3.75rem;
    /* 60px */
}

.team-hexagon-2 {
    background-image: url(/images/team-4.png);
    margin-left: 10.4375rem;
    /* 167px */
    margin-top: 9.5625rem;
    /* 153px */
}

.team-hexagon-3 {
    background-image: url(/images/team-3.png);
    margin-top: 15.3125rem;
    /* 245px */
}

.team-hexagon-4 {
    margin-left: 10.5625rem;
    /* 169px */
    margin-top: 20.8125rem;
    /* 333px */
    background-image: url(/images/team-2.png);
}



}
/* responsive team close */


/* team section close */