* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: auto;
}

/* navbar section open */

.navbar {
    width: 100%;
    height: 4.5rem;
    background-color: hsl(240, 77%, 19%);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo img {
    width: 11.5rem;
    height: 4.3rem;
    margin-left: 2.3rem;
    cursor: pointer;
}

.nav_list ul {
    display: flex;
    list-style: none;
    margin-right: 3.5rem;
    gap: 2.9rem;

}

.nav_list ul li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;

}

#menu_icon {
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    margin-right: 2.3rem;
    cursor: pointer;
    display: none;
}

/* responsive navbar open */

@media screen and (max-width:450px) {

    .navbar {
        width: 100%;
        height: 4rem;
        background-color: hsl(240, 95%, 15%);
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .logo img {
        width: 9.2rem;
        height: 3.3rem;
        margin-left: 1.2rem;
    }


    .nav_list ul li a {
        display: none;
    }

    #menu_icon {
        display: block;
        margin-right: 1.2rem;
        cursor: pointer;
    }
}

/* responsive navbar close */

/* navbar section close */
/* ...................................................... */

/* hero section open */

/* hero section img open */
.hero_section {
    width: 100%;
    height: 100%;
    position: relative;

}

.hero_section img {

    width: 100%;
    height: calc(100% + 4rem);
    object-fit: cover;
    filter: blur(0.5px) brightness(0.7);
}

/* hero section  img close */

/* responsive hero img open */

@media screen and (max-width:450px) {


    .hero_section {
        width: 100%;
        height: 92vh;
        position: relative;
        overflow: hidden;

    }

    .hero_section img {
        width: 100vh;
        height: 100%;
        object-fit: cover;
        filter: blur(0.5px) brightness(0.7);

    }

}

/* responsive hero img close */


/* hero section content open */


.hero_content {
    position: absolute;
    width: 40rem;
    height: auto;
    top: 12rem;
    margin-left: 7.3rem;

}

.hero_content h1 {

    font-size: 4.5rem;
    color: white;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

.hero_content p {
    font-size: 1.4rem;
    color: white;
    margin-bottom: 2.5rem;
}

.hero_content button {
    width: 8rem;
    height: 2.5rem;
    background-color: hsl(240, 95%, 15%);
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

/* hero section content close */

/* responsive hero content open */

@media screen and (max-width:450px) {

    .hero_content {
        position: absolute;
        width: 20rem;
        height: auto;
        top: 15rem;
        margin-left: 2rem;
    }

    .hero_content h1 {

        font-size: 2rem;
        color: white;
        margin-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 5rem;
    }

    .hero_content p {
        font-size: 0.85rem;
        color: white;
        margin-bottom: 3.3rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .hero_content button {
        width: 20rem;
        height: 2rem;
        background-color: hsl(240, 95%, 15%);
        color: white;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        font-size: 0.9rem;
        margin-left: 0.4rem;


    }
}

/* responsive hero content close */

/* hero section close */
/* ...................................................... */

/* card section open */

.card_section {
    position: absolute;
    top: 60rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 4.5rem;

}

.small-card {
    position: relative;
    width: 15rem;
    height: 16rem;
    border: 1px solid black;
    border: none;
    background-color: white;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    border-radius: 0.6rem;
    cursor: pointer;
    text-align: center;
    padding-top: 1.8rem;
}

.small-card i {
    font-size: 2rem;
    background-color: hsl(240, 100%, 6%);
    padding: 0.9rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: white;
    border-bottom-right-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
    margin-bottom: 0.8rem;

}

.small-card h3 {
    margin-top: 0.8rem;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.small-card p {
    margin-top: 1rem;
    align-items: center;
    text-align: center;
    display: flex;
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 0.85rem;
    color: grey;
}

.small-card::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.7rem;
    bottom: 0;
    left: 0;
    background-color: hsl(240, 100%, 7%);
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
}











/*  card section close */

/* ...................................................... */